.project-container{
    min-height: 100vmin;
    width: 100%;
    background-color: white;
}

.project-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



