.profile-container{
    min-height: 100vmin;
    width: 100%;
    background: #00A6C2;
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../assets/mack.jpg"), linear-gradient(rgba(	0, 166, 194,0.5),rgba(	0, 166, 194,0.5));
    background-blend-mode: overlay;
    background-size:cover;
}


.logo-name{
    font-size: 4rem;
    color: white;
}

.logo-description{
    font-size: 2rem;
    color: white;
}

.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.social-icon a{
    margin: 1.2rem;
}

.social-icon a:hover{
    color: white;
}



@media(max-width: 768px){

    .logo-name{
        font-size: 2rem;
        color: white;
    }
    
    .logo-description{
        font-size: 1rem;
        color: white;
    }
}